/chromedriver.exe
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/parsing.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/.gitignore
/results/results.json
/results/event_urls.txt
/results/vinyls.json
/results/product_urls.txt
/beward_parser/spreadsheet.csv
